.header {
    margin: 10px 20px;
}

.header__title {
    font-weight: 600;
    font-size: large;
}

.header__discription {
    font-size: medium;
    color: gray;

    padding-bottom: 25px;

    border-bottom: 1px solid;
    border-color: rgba(128, 128, 128, 0.5);
}