.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.content {
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}