.header {
    height: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
    border-bottom: 1px solid;
    border-color: rgba(128, 128, 128, 1);
}

.logo {}

.logo__nav {
    color: black;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
}

.menu {}